# Dependencias de Node.js
node_modules/

# Variables de entorno
.env

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Archivos temporales
tmp/
temp/

# Carpeta de compilación
dist/
build/

# Configuración del editor
.vscode/
.idea/

# Archivos del sistema
.DS_Store
Thumbs.db

# Archivos de base de datos locales (si aplica)
*.sql
*.sqlite
*.db
